################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server/ctxping/Debug/ctxping.tlog
/server/ctxping/Debug/ctxping.Build.CppClean.log
/server/ctxping/Debug/ctxping_2019.log
/server/ctxping/Debug/ctxping_2019.vcxproj.FileListAbsolute.txt
/server/ctxping/Debug/vc143.idb
/server/ctxping/Debug/vc143.pdb
/server/ctxping/Release/BuildLog.htm
/server/ctxping/Release/ctxping.Build.CppClean.log
/server/ctxping/Release/ctxping.exe
/server/ctxping/Release/ctxping.exe.recipe
/server/ctxping/Release/ctxping.ilk
/server/ctxping/Release/ctxping.map
/server/ctxping/Release/ctxping.obj
/server/ctxping/Release/ctxping.pdb
/server/ctxping/Release/ctxping.pdb2
/server/ctxping/Release/ctxping.res
/server/ctxping/Release/vc143.pdb
/server/.vs/server_2019/v17/ipch/AutoPCH
*.vsidx
/client/client_examples_win32.sln
/client/.vs/Citrix_Group/v17
/.vs/Citrix_Group/v17
/.vs/Citrix/v17
/bin
/client/vdping/Debug/Win32/vdpingn.Build.CppClean.log
/client/vdping/Debug/Win32/vdping_win32.log
/client/vdping/Debug/Win32/vdping_win32.vcxproj.FileListAbsolute.txt
/client/vdping/Debug/Win32/vc143.pdb
/client/vdping/Debug/Win32/vdpingn.tlog/CL.command.1.tlog
/client/vdping/Debug/Win32/vdpingn.tlog/vdpingn.lastbuildstate
/client/vdping/Release/Win32/vdpingn.tlog/CL.command.1.tlog
/client/vdping/Release/Win32/vdpingn.tlog/Cl.items.tlog
/client/vdping/Release/Win32/vdpingn.tlog/CL.read.1.tlog
/client/vdping/Release/Win32/vdpingn.tlog/CL.write.1.tlog
/client/vdping/Release/Win32/vdpingn.tlog/link.command.1.tlog
/client/vdping/Release/Win32/vdpingn.tlog/link.read.1.tlog
/client/vdping/Release/Win32/vdpingn.tlog/link.secondary.1.tlog
/client/vdping/Release/Win32/vdpingn.tlog/link.write.1.tlog
/client/vdping/Release/Win32/vdpingn.tlog/vdpingn.lastbuildstate
/client/vdping/Release/Win32/vc143.pdb
/client/vdping/Release/Win32/vdping.obj
/client/vdping/Release/Win32/vdpingn.Build.CppClean.log
/client/vdping/Release/Win32/vdpingn.dll
/client/vdping/Release/Win32/vdpingn.dll.recipe
/client/vdping/Release/Win32/vdpingn.exp
/client/vdping/Release/Win32/vdpingn.ilk
/client/vdping/Release/Win32/vdpingn.lib
/client/vdping/Release/Win32/vdpingn.pdb
/client/vdping/Release/Win32/vdping_win32.log
/client/vdping/Release/Win32/vdping_win32.vcxproj.FileListAbsolute.txt
/wrapper
/server/.vs/server_2019/v17/.suo
/server/.vs/server_2019/v17/Browse.VC.db
/server/.vs/server_2019/v17/DocumentLayout.backup.json
/server/.vs/server_2019/v17/DocumentLayout.json
/server/.vs/server_2019/v17/Solution.VC.db
